<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Political Synthesis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'style3.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:800&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="{% static 'funky.js' %}"></script>
</head>
<body>
	<div id="main">
		<h1 id="title">
			Choose your candidate
		</h1>
		{% for candidate in cand %}
		<div class=election-selection>
			<a href='/polidata/{{ candidate }}'>{{ candidate }}</a>
		</div>
		{% endfor %}
		<!--
			<div class="election-selection">
				some male
			</div>
			<div class="election-selection">
				some female
			</div>
			<div class="election-selection">
				some gorilla
			</div>
			<div class="election-selection">
				some Trump
			</div>
			<div class="election-selection">
				some plutocrat
			</div>
			<div class="election-selection">
				some Eric/Alex
			</div>
		-->
	</div>
</body>
</html>