<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Political Synthesis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:800&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="main">
		<h1 id="welcome">
			Welcome to 
			<div class="polisy">
				PoliSy
			</div>
		</h1>
		<div id="location-form" style="color:black">
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
				<div class="location_inputs" style="padding:5%">
					<div style="color:#3aafa9">
					{{ field.label_tag }}
				</div>
					{{ field }}
				</div>
				{% endfor %}
			<input type="submit" value="Submit" class="button">
		</form>
			<!--
			<form method="post">
				<tr id="location-inputs">			
					<span>
						<input class="location-inputs" type="text" placeholder="State">
					</span>
					<span style="color: #17252a">......</span>
					<span>
						<input class="location-inputs" type="text" placeholder="Zipcode">				
					</span>
				</tr>
			</form>
			-->
		</div>
	</div>
	<div id="main2">
		<h1 id="welcome2">
			What is 
			<div class="polisy">
				PoliSy?
			</div>
		</h1>
		<div id="polisy-info">
			PoliSy info
			here is some info
			here is info
			dhsdjksdslfkjfkf
			buu
		</div>
	</div>
</body>
</html>