
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidate Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static styles2.css %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:800&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="{% static funky.js %}"></script>
</head>
<body>
	<div id="main">
		<div id="photo-container" >
			<img id="candidate-photo" src="https://upload.wikimedia.org/wikipedia/en/2/28/Ynes_Mexia.jpg">
		</div>
		<div>
			<h1 id="whois">
				Who is 
				<div class="candidate">
					this Candidate?
				</div>
			</h1>
			<div id="candidate-info">
				{{ candidate }}
				PoliSy info
				here is some info
				here is info
				dhsdjksdslfkjfkf
				buu
			</div>
		</div>
	</div>	
	<div id="issues-section">
		<h1 id="issues">
			Issues
		</h1>
	</div>
	<div class="card-row">
		<div class="info-card">
			card1
		</div>
		<div class="info-card">
			card2
		</div>
		<div class="info-card">
			card3
		</div>
	</div>
	<div class="card-row">
		<div class="info-card">
			card4
		</div>
		<div class="info-card">
			card5
		</div>
		<div class="info-card">
			card6
		</div>
	</div>
	<div class="card-row">
		<div class="info-card">
			card7
		</div>
		<div class="info-card">
			card8
		</div>
		<div class="info-card">
			card9
		</div>
	</div>
</body>
</html>
